@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


:root{
    font-size: 10px;
}

.layout-padding {
    padding: 8rem 3rem 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px solid red !important; */
}

body {
    background: rgba(156, 154, 254, 0.10);
}

  
  header a {
    text-decoration: none;
  }
  
  header {
    position: fixed;
    width: 100%;
    padding: 0 3rem;
    background-color: #ffffff;
    height: 7rem;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 44;
  }
  
  #brand {
    display: flex;
    align-items: center;
  }

  #nav-links, .mobile-menu {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  
  
  #nav-links a {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    letter-spacing: 0.1rem;

  }

  .ri-arrow-down-s-fill {
    font-size: 1.5rem;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown .dropButton{
    width: 100%;
    text-decoration: none;
    background: transparent;
    border: none;
  }

  .dropdown-menu {
    display: none;
    text-align: left;
    width: 11rem;
    height: 7rem;
    position: absolute;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 0.5rem;
    min-width: 7rem;
    padding: 0.6rem 1rem;
    z-index: 55;
  }

  #nav-links .dropdown-menu a{
    color: #615EE4;
    font-size: 1rem;
    text-align: left;
    padding: 1rem 0 1rem 0;
  }

  #nav-links .dropdown-menu a:hover {
    box-shadow: rgba(100, 76, 254, 0.15) 1.95px 1.95px 2.6px;
    padding: 0.7rem;
    border-radius: 0.8rem;
    background-color: #615EE4;
    color: #FCFCFC;
  }

  .openDrop{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ri-arrow-right-fill{
    padding: 0 0.3rem 0 0;
  }

  .mobile-menu a {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    letter-spacing: 0.1rem;

  }
  
  #nav-links li {
    padding: 1rem;
    margin-left: 2rem;
  }

  .mobile-menu li {
    padding: 1rem;
    margin-left: 2rem;
  }
  
  #nav-links li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  .active {
    color: #615EE4 !important;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #615EE4;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }

.search-icon {
    color: #615EE4;
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 5rem;
}

.search-box {
    position: absolute;
    right: 13rem;
    height: 4.5rem;
    max-width: 55.5rem;
    width: 100%;
    font-family: Poppins;
    font-size: 1.4rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

.nav-bar.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box .search-icon {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);


}
.search-box input {
    width: 100%;
    height: 100%;
    border: 2px solid #615EE4;
    outline: none;
    background-color: #FCFCFC;
    border-radius: 3rem;
    padding: 0 2rem 0 5rem;
  
}

.nav-item_icon {
    font-size: 2.3rem;
    display: flex;
    align-items: center;
}
/* Hero section */

.box_left {
    width: 44%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0 0 0;
}

.box_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 3rem 0 0 0;
}

.repair_man{
    width: 100%;
}

.repair_man .img__repair__main{
    width: 100%;
    height: 100%;
}

.box_left h1 {
    margin: 0;
    color: #615EE4;
    font-family: Playfair Display;
    font-size: 9rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    letter-spacing: 2.8px;
}

.hero_section .box_left p {
    width: 91%;
    display: flex;
    color: #2D2F30;
    font-family: Plus Jakarta Sans;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 158%;
    letter-spacing: 0.5px;
}

.hero_section .box_left .parag01 {
    margin-top: 1px;
}

.hero_section .box_left .parag02 {
    margin-top: 100px;
    font-size: 17px;
}

.hero_section .box_left .button_contact {
    margin-top: 20px;
}

.button_contact {
    width: 170px;
    height: 55px;
    border-radius: 1.3rem;
    background: #615EE4;
    color: #F9F8F9;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140.5%;
    letter-spacing: 1.36px;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 12px 12px 28px;
    transition: 0.5s ease;
}

.button_contact:hover {
    background-color: #615EE4;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 10px #615EE4;

}

.text_button {
    width: 125px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140.5%;
    letter-spacing: 1.36px;
    text-decoration: none;
}



.logos {
    margin-top: 30px;
}


.container__hero {
    display: flex;
    justify-content: space-around;
}

.box {
    margin-right: 2rem;
    width: 382px;
    height: 100px;
    flex-direction: column;
    border-radius: 15px;
    padding: 2rem;
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.hero_section {
    height: fit-content;
}

.box h2 {
    color: #33475B;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: -5px;
}

.box p {
    color: #2D2F30;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.box_name {
    padding: 12px 12px;
}

/* Footer */

.info_section {
    width: 100%;
    height: 33rem;
    padding: 4rem 1rem;
    background: linear-gradient(270deg, #615EE4 1.59%, #2621E6 99.7%);
}

.size-mobile{
    display: none;
} 

.info_section__container__container__logo {
    display: flex;
    justify-content: center;
    margin-left: 9rem;
}

.icon {
    list-style: none;
}

.list_icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 80px;
    margin-top: 15px;

}

.info_section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__links {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footeritems_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -100px;
    gap: 60px;
}

.element_product,
.element_company,
.element_support,
.element_product_title,
.element_support_title,
.element_company_title {
    list-style: none;
    text-decoration: none;
}

.element_product_title,
.element_support_title,
.element_company_title {
    color: #ffea00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.element_product,
.element_company,
.element_support {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.6px;

}

.footerElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 383.877px;
    color: #ffffff;

}

.footer__bottom__copy p {
    color: #615EE4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.footer__bottom {
    width: 100%;
    height: 6.67981rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__links {
    margin-right: 120px;
}

.footer__links__product__list,
.footer__links__company__list,
.footer__links__support__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* -----------Service Page------------ */

.section__service {
    height: fit-content;
    background: rgba(156, 154, 254, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.section__service__title h1 {
    color: #615EE4;
    font-family: Playfair Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.5px;
    padding: 90px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 10px;
    position: relative;
}

.service__box__left h2 {
    width: 79%;
    color: #615EE4;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.323px;

}

.service__box__left p {
    width: 76%;
    color: #4F4F4F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.service__box__left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 40%;

}

.service__box__right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.service__box__right__images {
    width: 460px;
    height: 290px;
    display: flex;
    margin: 0 auto;
    filter: brightness(110%);
}

.service__box {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 120px;
}

.section__service__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;

}

.service__box01,
.service__box02,
.service__box03 {
    display: flex;
    width: 29rem;
    height: 35rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 3.4rem;
    border: 4px solid #615EE4;
    background: #FCFCFC;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    transition: 0.5s ease;
}

.service__box03 {
    display: flex;
    width: 29rem;
    height: 35rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 3.4rem;
    border: 4px solid #615EE4;
    background: #FCFCFC;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    transition: 0.5s ease;
}

.service__box01:hover {
    transform: scale(1.1);

}

.service__box02:hover {
    transform: scale(1.1);
}

.service__box03:hover {
    transform: scale(1.1);
}


.service__box01__info h3, .service__box02__info h3, .service__box03__info h3 {
    color: #615EE4;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: -12px;

}



.service__box01__info, .service__box02__info, .service__box03__info p {
    color: #4F4F4F;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}


.service__box01__info,
.service__box02__info,
.service__box03__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-box1, .btn-box2, .btn-box3 {
    text-align: center;
    width: 26rem;
    height: 5.5rem;
    background-color: #615EE4;
    color: #fcfcfc;
    border-radius: 3rem;
    border: none;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 400;
    color: #fcfcfc;
    letter-spacing: 0.6;
    cursor: pointer;
}

.ReadMore-box, .ReadMore-box1 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #7b79ec4c;
    backdrop-filter: blur(0.7rem);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.ReadMore-box2{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #7b79ec4c;
    backdrop-filter: blur(0.7rem);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.openRead {
    visibility: visible;
    opacity: 1;
}

.openRead1 {
    visibility: visible;
    opacity: 1;
}

.ReadMore-box .readMore{
    position: absolute;
    width: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 4rem;
    border-radius: 3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.ReadMore-box1 .readMore{
    position: absolute;
    width: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 4rem;
    border-radius: 3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.ReadMore-box2 .readMore{
    position: absolute;
    width: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 4rem;
    border-radius: 3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.ReadMore-box .readMore h1{
    font-size: 3rem;
    font-family: Playfair Display;
    font-weight: 700;
    letter-spacing: 0.13rem;
    color: #615EE4;
    margin: 0 0 0.8rem;
}

.ReadMore-box1 .readMore h1{
    font-size: 2.7rem;
    font-family: Playfair Display;
    font-weight: 700;
    letter-spacing: 0.13rem;
    color: #615EE4;
    margin: 0 0 0.8rem;
}

.ReadMore-box2 .readMore h1{
    font-size: 3rem;
    font-family: Playfair Display;
    font-weight: 700;
    letter-spacing: 0.13rem;
    color: #615EE4;
    margin: 0 0 0.8rem;
}

.ReadMore-box .readMore p{
    width: 90%;
    font-size: 1.7rem;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.13rem;
    color: #2D2F30;
    line-height: 2.7rem;
    margin: 0 0 0 0.5rem;
}

.ReadMore-box2 .readMore p{
    width: 92%;
    font-size: 1.7rem;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.13rem;
    color: #2D2F30;
    line-height: 2.77rem;
    margin: 1.6rem 0 0;
}

.ReadMore-box .readMore img {
    width: 30rem;
    height: 35rem;
    border-radius: 2rem;
    border: 0.3rem solid #cecdff41;
    
}

.ReadMore-box1 .readMore img {
    width: 30rem;
    height: 35rem;
    border-radius: 2rem;
    border: 0.3rem solid #cecdff41;
}

.ReadMore-box2 .readMore img {
    width: 30rem;
    height: 35rem;
    border-radius: 2rem;
    border: 0.3rem solid #cecdff41;
}


.ReadMore-box .readMore .close-icon {
    font-size: 3rem;
    position: absolute;
    right:1.6rem;
    top: 0.6rem;
    cursor: pointer;
    padding: 0.2rem;
    color: #615EE4;
}
.ReadMore-box1 .readMore .close-icon1 {
    font-size: 3rem;
    position: absolute;
    right:1.6rem;
    top: 0.6rem;
    cursor: pointer;
    padding: 0.2rem;
    color: #615EE4;
}

.ReadMore-box2 .readMore .close-icon2 {
    font-size: 3rem;
    position: absolute;
    right:1.6rem;
    top: 0.6rem;
    cursor: pointer;
    padding: 0.2rem;
    color: #615EE4;
}
.ReadMore-box1 .readMore .sub-title {
    font-size: 1.7rem;
    font-family: Playfair Display;
    color: #615EE4;
    line-height: 3rem;
}

.ReadMore-box1 .readMore p {
    width: 90%;
    font-size: 1.2rem;
    font-family: Poppins;
    color: #2D2F30;
    line-height: 1.6rem;
    margin: 0 0 0.5rem;
}




/* ------------About------------- */

.about__section {
    height: fit-content;
    background: rgba(156, 154, 254, 0.10);
}

.about__section__title__some {
    height: 376px;
    background: #615EE4;
}

.about__section__title h1 {
    color: #615EE4;
    font-family: Playfair Display;
    font-size: 60px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.5px;
    padding: 8rem 0 9rem;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 10px;
    position: relative;
}

.about__section__title p {
    width: 90%;
    color: #4F4F4F;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: -80px;
    display: inline;
}

.about__section__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about__section__img {
    height: 500px;
    display: flex;
    justify-content: center;
}

/* -----------section some------------ */

.pattrens {
    display: flex;

}

.some__counter h2 {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    letter-spacing: 0.24px;
}

.some__counter p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.some__counter {
    margin-top: -360px;
}

.count__clients {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
}

.count__clients h3 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
}

.count__taken__business h3 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
}

.count__years__of__journey h3 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
}

.count__clients p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.054px;
}

.count__taken__business P {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.054px;

}

.count__years__of__journey p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.054px;
}

.counters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.counters {
    margin-top: 80px;
}

.count__taken__business {
    border-left: solid #FFF;
    border-right: solid #FFF;
    padding-left: 50px;
    padding-right: 50px;
}

/*------------section clients -------------*/

.sectionClients {
    width: 100%;
	min-height: fit-content;
	background-color: #fcfcfc;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container{
    position: relative;
    width: 100%;
    min-height: 48rem;
    background-color: #f5f5f5;
}
.container .contents-wraper {
    width: 70%;
    min-height: inherit;
    margin: 0 auto;
    text-align: center;
}
.contents-wraper .title h1{
    color: #615EE4;
    position: relative;
    font-size: 4rem;
    font-family: Playfair Display;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}
.contents-wraper .title h1::before{
    content: '';
    width: 37rem;
    height: 0.4rem;
    background-color: #615EE4;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem;
}
.contents-wraper .testRow{
    width: 100%;
    min-height: inherit;
    position: relative;
    overflow: hidden;
}
.testRow .testItem{
    width: 100%;
    height: fit-content;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 4rem 0;
}
.testRow .testItem:not(.active){
    top: 0;
    left: -100%;
}
.testRow .testItem img{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 3.5rem;
    outline: 0.37rem solid #615EE4;
    outline-offset: 0.4rem;
}
.testRow .testItem h3{
    font-size: 3rem;
    font-family: Poppins;
    font-weight: 600;
    padding: 0.3rem;
    color: #615EE4;
}
.testRow .testItem h4{
    font-size: 1.6rem;
    font-family: Poppins;
    font-weight: 500;
    color: #2D2F30;
}
.testRow .testItem p{
    width: 100%;
    max-width: 100rem;
    height: 10rem ;
    font-size: 1.5rem;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.18rem;
    line-height: 1.2;
    padding: 2rem;
    color: #615EE4;

}
.contents-wraper .indicators{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    cursor: pointer;
}
.contents-wraper .indicators .dot{
    width: 1.3rem;
    height: 1.3rem;
    margin: 0px 3px;
    background-color: #c0c0c0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.contents-wraper .indicators .active{
    background-color: #615EE4;
}
@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}



/* -----------Contact Section----------- */

.contact__section {
    height: fit-content;
    padding: 1rem;
}

.contact__section__title {
    color: #615EE4;
    font-family: Playfair Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.5px;
    padding: 12rem 7rem 3rem 7rem;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 10px;
}

.contact__section__box01 h1 {
    text-align: center;
    outline: none;
    color: #2D2F30;
    font-family: Playfair Display;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0.03125rem;
    margin: 0 auto;
    padding: 3rem;

}

.contact__section__box01 p {
    width: 95%;
    color: #4F4F4F;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.7rem;
    letter-spacing: 0.03125rem;
    margin: 0 auto;
    padding: 0 0 3rem;
}

.googlemap {
    width: 75rem;
    height: 35rem;
    border-radius: 2.1875rem;
    border: 0.4rem solid #2621E6;
    margin: 0 auto;
    display: flex;
}

#map {
    padding: 3rem;
}



.call__button {
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 1.3rem;
    background: #615EE4;
    color: #F9F8F9;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140.5%;
    letter-spacing: 1.36px;
    margin: 0 auto ;
    cursor: pointer;
    
}

.call__button:hover {
    background-color: #00c911;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 10px #00c911;
    outline: none;
}

.contact__forms {
    height: fit-content;
    padding: 3rem;
}

.contact__forms__title {
    color: #615EE4;
    font-family: Playfair Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 4rem;
    letter-spacing: 0.01219rem;
}

.contact__forms__title h1 {
    font-size: 2rem;
    margin: 0 auto;
    font-family: Playfair Display;
}

.contact-forms {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.contact-forms-info {
    padding: 4rem 8rem 3rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-forms .input-section {
    margin: 0.8rem 0;
}

.contact-forms label {
    display: block;
    font-size: 1.6rem;
    font-family: Poppins;

}

.contact-forms label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.contact-forms .error-message {
    margin-bottom: 0.1rem;
}

.contact-forms input, button {
    display: block;
    outline: none;
    width: 75rem;
    height: 5rem;
    padding: 0.9rem;
    border-radius: 0.5rem;
    font-size: 1.34rem;
    font-family: Poppins;
    border: 0.2rem solid #615EE4 ;
}

.contact-forms textarea {
    display: block;
    outline: none;
    width: 75rem;
    height: 12rem;
    padding: 0.9rem;
    border-radius: 0.5rem;
    font-size: 1.34rem;
    font-family: Poppins;
    border: 0.2rem solid #7b79ec;
}

.contact-forms button {
    font-size: 1.5rem;
    font-family: Poppins;
    font-weight: 500;
    background-color: #615EE4;
    color: #f5f5f5;
    letter-spacing: 0.07rem;
    cursor: pointer;
    
}

.input-section .required-color{
    color: #ff3860;
}

.input-section.success input {
    border-color: #09c372;
}

.input-section.success textarea {
    border-color: #09c372;
}

.input-section.error input {
    border-color: #ff3860;
}

.input-section .error {
    color: #ff3860;
    font-size:1.2rem;
    font-family: Poppins;
    margin-top: 0.4rem;

}


/* ==========FAQs Section========= */

.faq {
    height: fit-content;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 3rem 5rem;


}

.faq-title {
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    color: #615EE4;
}

.faq-question{
    max-width: 72rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid #615EE4;
    cursor: pointer;
}

.ri-arrow-down-s-line {
    font-size: 2.4rem;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h2 {
    font-size: 1.5rem;
    font-family: Poppins;
    font-weight: 500;

}

.answer p{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: Poppins;
    padding-top: 1rem;
    letter-spacing: 0.3px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.6s ease;
    
}

.faq-question .openAnswer {
    max-height: 30rem;
    
}
.openAnswer .ri-arrow-down-s-line {
    transform: rotate(180deg);
    
   
}
